

@import "../../../assets/scss/variables.scss";
body {
    margin: 0;
  }
/* Header */
.navbar{
    background:$primary-color;
    height: 77px;
    left: 0px;
    top: 0px; 
   
}
.logo{
    width: 195px;
    height: 61px;
    left: 19px;
    top: 13px;
    
}
.right-navigation a{
    color:$white-color;
    font-family: $font-family;
    line-height: normal;
    font-size: 16px;
}

.login-item{
    margin-right: 50px;
  }
.contact-item{
    margin-right: 70px;
  }
.agents-directory-item{
    margin-right: 20px;
  }

/* Banner */
.banner {
    background-image:  url($banner);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
div > label{
    font-family: $font-family;
    line-height: normal;
    font-size: 36px;
    color: $white-color;
  }

#input_container {
    position:relative;
    width: 538px;
    height: 33px;
    
}
#input {
    height: 33px;
    margin:0;
    padding-right: 30px;
    width: 100%;
    background: $white-color;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
    border-radius: 20px;
    left: 7.42%;
    right: 50.55%;
    outline: none;

}
#input_img {
    position:absolute;
    right:12px;
    width:20px;
    height:20px;
    top:5px;
}
.vertical-center{
    min-height: 100%;
    display: flex;
    align-items: center;
}
.container-search-box{
    margin-top: 80px

}
/*list*/
.item{
    display: inline-block;

}
.container-list{
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.container-error{
    height: 500px;
}
.pagination{
    display:flex;
    justify-content: center;
   
}
.pagination /deep/ .ngx-pagination .current {
    background: $primary-color;
  }

/*footer*/
 footer{
     display: flex;
     background:$primary-color;
     font-family: $font-family;
     line-height: normal;
     font-size: 12px;  
     color: $white-color;
     height: 60px;
     align-items: center;

     .footer-right{
        display: flex;
        width: 50%;
        padding-right: 15px;
        justify-content: flex-end;
     }

     .footer-left{
        display: flex;
        width: 50%;
        padding-left: 15px;
        justify-content: flex-start;
     }
 }
 
 a {
    color: $white-color;
}
 .footer-description{
    margin-top: 25px;
    
 }

 
