
<!-- Menu -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img class="logo" src="../assets/icons/logo.png" alt="icon-logo">
    </div>
    <ul class="right-navigation nav navbar-right">s
      <li class="agents-directory-item active"><a href="#">Agents Directory</a></li>
      <li class="contact-item"><a href="#">Contact</a></li>
      <li class="login-item"><a href="#">Login</a></li>
    </ul>
   
  </div>
</nav>
<!-- Menu -->
<!-- Banner -->
<div class="jumbotron jumbotron-fluid banner vertical-center">
      <div class="container container-search-box">
          <div class="row">
              <label class="col-sm-12">The best security agent</label>
              <div id="input_container">
                 <input type="text" id="input" [(ngModel)]="searchInput" (keyup.enter)="search(searchInput)" (keyup)="autoSearch(searchInput)"value>
                 <img src="../assets/icons/search.png" id="input_img" (click)="search(searchInput)">
             </div>
          </div>
      
    </div>
  </div>
<!-- Banner -->

<!-- Agents list -->
  <div *ngIf="angentsLength>0;else other_content">
      <div class="container-list">
          <div  class="item" *ngFor="let agent of agentsFiltered.companies| paginate: { itemsPerPage: 6, currentPage: p }">
              <app-agent [agent]=agent></app-agent>
            </div>
            
        </div>
        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
    </div>
    <ng-template  class=""#other_content>
      <div class="container-error">
        <div class="container">
           <div class="row">
              <div class="col-sm-12">No agents records</div>
            </div>
        </div>
      </div>
    </ng-template>
 
 <!-- Agents list -->
  <!-- Footer -->  
<footer class="footer">
  <div class="footer-left">Develop by Akurey.com| Copyright</div>
  <div class="footer-right">Terms and conditions</div>
</footer>
 <!-- Agents list -->
    
