<div class="container agent-container">
  <div class="row d-flex">
      <div class="col-9">
        <!-- Display company name -->  
        <span class="companies-title">{{agent.name}}</span>
      </div>
      <div class="col-3 certified-container">
          <span class="certified-icon">
               <!-- Display certification icon if the company is certificated -->  
            <img class="" src="../assets/icons/certification.png" alt="icon-certication" *ngIf="agent.isCertified==true">
          </span>
      </div>
  </div>
  <hr class="title-line">
  <div class="row">
      <div class="col-5">
          <img class="company-img" [src]="agent.image" alt="company-image">
      </div>
      <div class="col-7">
          <p class="description">
               <!-- Display company description -->  
              {{agent.description}}
          </p> 
      </div>
  </div>
  <div class="row">
      <div class="col-6">
            <!-- Display rates -->  
          <span>Desde: ${{agent.rate}} / {{agent.hours}} horas</span>
      </div>
      <div class="col-6">
          <button type="button" class="btn-hire">Hire</button>
      </div>
  </div>
</div>
