

@import "../../../assets/scss/variables.scss";
.agent-container {
    width: 400px;
    margin-left: 0;
    display: inline-block;
  }
  
  .certified-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .certified-icon {
    width: 32px;
    height: 29px;
  }
  
  .title-line {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid $border-color;
  }
  
  .companies-title {
    font-family: $font-family;
    line-height: normal;
    font-size: 18px;
    /* negro-texto */
    color:$primary-color ;
  }
  
  .company-img {
    width: 100%;
    height: 90%;
    border: 1px solid $border-color;
    background:$white-color;
  }
  
  .description {
    font-family: $font-family;
    line-height: normal;
    font-size: 14px;
    text-align: justify;
    color:$primary-color;
  }
  
  .btn-hire {
    /* negro-boton */
    background:$primary-color;
    border-radius: 18px;
    font-family: Arial;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    color:$white-color;
    padding: 5px 10px;
    width: 100%;
    height: 34px;
  }